.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--body);
  z-index: 1;
}

.info__message {
  pointer-events: none;
  user-select: none;
  text-align: center;
  color: var(--gray);
  text-transform: capitalize;
  color: #202020;
  letter-spacing: 0.15em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

.info__wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}
